@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Delete Stylist</h1>
<hr>
<h3><strong>Are you sure you want to delete @Model.Name?</strong></h3>
@using (Html.BeginForm())
{
    <input type="submit" value="Yes, Delete This Stylist" class="btn btn-default" />
}

<button class="btn btn-default">@Html.ActionLink("Back To Stylist", "Details", new { id = @Model.StylistId })</button>