@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
@using HairSalon.Models

<h2>Client: @Model.Name</h2>
<hr>
<p>@Model.Description</p>

<button class="btn btn-default">@Html.ActionLink("Delete This Client", "Delete", new { id = Model.ClientId })</button>
<button class="btn btn-default">@Html.ActionLink("Back to Clients List", "Details", "Stylists", new { id = Model.StylistId })</button>